
{% extends 'admin/main.html' %}
{% block content %}
<div class="col-12">
    <div class="card recent-sales overflow-auto">

      <div class="filter">
        
        
      </div>

      <div class="card-body">
        <h5 class="card-title">Recent Sales <span>| Today</span></h5>

        <table class="table table-borderless datatable">
          <thead>
            <tr>
              <th scope="col">advertiser</th>
              <th scope="col">title</th>
              <th scope="col">image </th>
              <th scope="col">link</th>
              <th scope="col">type</th>
              <th scope="col">date</th>
              <th scope="col">month</th>
              <th scope="col">status</th>
            </tr>
          </thead>
          <tbody>
            {% for i in post %}
            <tr>
              <td>
                {{i.advertiser}}
              </td>
              <td>
                {{i.title}}
              </td>
              <td>
                {{i.image}}
              </td>
              <td>
                {{i.link}}
              </td>
              <td>
                {{i.Type}}
              </td>
              <td>
                {{i.date}}
              </td>
              <td>
                {{i.months}}
              </td>
              <td>
                {{i.status}}
              </td>
              
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal{{i.id}}">
                view
              </button>
              <div class="modal fade" id="basicModal{{i.id}}" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Post</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <a href="{{i.link}}">
                    <img src="/media/{{i.image}}" alt="" height="100px" width="500px">
                  </a>
                    </div>
                    <div class="modal-footer">
                      <a class="btn btn-success" href="{% url 'acceptpost' id=i.id %}">Accept</a>
                      <a class="btn btn-danger" href="{% url 'rejectpost' id=i.id %}">Reject</a>
                    </div>
                  </div>
                </div>
              </div>
              </td>
              </tr>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

    </div>
  </div>
{% endblock content %}